.body {
    background-color: #555555;
    width: 1s;
    height: 1s;
}

.top-bar {
    background-color: #777777;
    border-width: 1px;
    border-color: #222222;
    height: 30px;
    width: 100%;
}

.top-bar button {
    background-color: #8ba08b;
    min-height: 0;
    height: 1s;
    width: 100px;
    child-space: 1s;
}

.board {
    space: 1s;
}

.cell {
    background-color: #777777;
    child-space: 1s;
    color: #ff6666;
}

.cell.flagged {
    background-color: #ff6666;
}

.cell.visible {
    background-color: #999999;
    color: black;
}

.cell.mine {
    background-color: #ff0000;
}